
.mainbox{
    padding-top: 50px;
    width: 100%
}
.mainbox .card{
    width: 100%;
    padding-top:10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.mainbox .card a{
    position: relative;
    width: 100%;
}
.mainbox .card a .box{
    width:100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.mainbox .card a .box .title{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.mainbox .card a .box:hover .title{
    transform: scale(1.1);
    bottom: 0;
    opacity: 1;
    font-size: 2rem;
}

.mainbox .card a .test video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    width: 100%;
    height: 450px;
}
.mainbox .card a .test div h2{
    width: 100%;
    font-size: 7rem;
    color: white;
    font-weight: bolder;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

@media screen and (max-width: 415px) {
    .mainbox .card a .test video{
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        width: 100%;
        height: 450px;
    }
    .mainbox .card a .test div{
        width: 100%;
    }

    .mainbox .card a .test div h2{
        width: 100%;
        font-size: 4rem;
        color: white;
        font-weight: bolder;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        text-align: center;
    }
}

