
article{
    overflow: hidden;
}

.slideshow{
    display:flex;
    position:relative;
    width: 100%;
}
.slideshow video{
    width: 100%;

}
article{
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.h2{
    align-items: end;
    padding: 2px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    width: 100th;
    padding-top: 5%;
}
.h2 p{
    font-size: 4rem;
    color: red;
}
.newstorage{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
.newstorage .card {
    padding: 10px;
    margin: auto;
    display: flex;
    width: 100%;
}
.newstorage .card a {
    text-decoration: none;
    width: 100%;    
    margin: 0 10px;
}
.newstorage .card a:hover {
    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.5);
    transition: 0.5s;
}
.newstorage .card a .pict{
    flex-wrap: wrap;
    width:100%;
}
.newstorage .card a .pict img{
    width: 100%;
}
.newstorage .card a .pict div{
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    color:black;
}
button{
    position: absolute;
    transform: translateY(-50%,-50%);
    font-size: 2rem;
    color: white;
    background-color:black;
    cursor: pointer;
    z-index: 3;
    display: none;
}
.ributton{ 
    left: 360px;
    bottom: 5vh;
}
.lebutton{ 
    left:20px;
    bottom: 5vh;
}
article .storagebtn{
    display: flex;
    margin: auto;
    width:90%;
    padding-bottom: 10%;
    padding-top: 30px;
}
article .storagebtn input{
    width:150px;
    height:30px;
    border:0;
    background-color:gray;
    color:black;
    font-weight: bold;
    border-radius:40px;
    cursor:pointer;}
  
article .storagebtn input:hover{
    color:white;
    /* background-color:black; */
    border:2px gray solid;
  }
.topsale{
    padding: 0;
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
}
.topsale .text{
    padding: 0;
    font-size: 3rem;
    color: red;
    font-weight: bolder;    
    opacity: 0.6;
    writing-mode: vertical-lr;
    position: relative;
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.topsale .text:after {
    position:absolute;
    content:"";
    background-color: red;
    width: 20px;
    height:60%;
    opacity: 0.2;}

.topsale  .card{
    width:70% ;
    display: flex;
}
.topsale .card a{
    width: 30%;
    position: relative;
}
.topsale .card a:hover{
    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.5);
    transition: 0.5s;
    background-image: linear-gradient(to top, #050505,#e0e0db,#e0e0db,#ffffff, #ffffff);
}
.topsale .card a div{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.topsale .card a div  img{
    width: 100%;
}
.topsale .card a div  .llogo{
    width: 50%;
    margin: auto;
}
.topsale .card a div:after {
    position:absolute;
    content:"";
    background-image: linear-gradient(to top,black,white);
    width: 20px;
    margin-left: 95%;
    height:100%;
    opacity: 0.5;}
.topsale .block{
    content: "";
    width: 20%;
}
.event .h3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    padding-top: 10%;
}
.event .h3::after{
    margin-top:-5%;
    color: RED;
    font-size: 5REM;
    content: "EVENT";
    position:absolute;
    opacity: 0.1;}
.event .card{
    width: 100%;
    padding-top:20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.event .card a{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    position: relative;
    width: 100%;
    margin: 10px 0;
}
.hover {
    width: 100%;
    position:relative
}
.hover1 div {
    background-image:url(../img/折價圖.jpg);
}
.hover2 div {
    background-image:url(../img/競賽小圖.svg);
}
.hover3 div {
    background-image:url(../img/越野圖.png);
}
.hover4 div {
    background-image:url(../img/首頁安駕.png);
}
.hover div {
    /* background-image:url(../img/YZF-R7\ 900X600\ 5.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0;
    text-align: center;
    font-size: 5rem;
    font-weight:bolder;
    overflow: hidden;
    width: 100%;
	position: relative;
    color:white;
}
.hover div::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	transform: skewX(-25deg);
}
.hover div:hover::before {
	animation: shine .75s;
}
.hover div:hover {
    color:red;
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
@media screen and (max-width: 415px) {

    .slideshow{
        height:60vh;
        display:flex;
        position:relative;
        width: 100%;
    }
    .slideshow video{
        width: 100%;
    
    }
    article{
        /* max-width: 980px; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    .h2{
        position: relative;
        padding: 2px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        width: 100th;
        padding-top: 5%;
        margin: auto;
    }
    .h2 p{position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        font-size: 4rem;
        color: red;
        opacity: 0.3;
    }
    .newstorage{
        position: relative;
        margin: auto;   
        display: flex;
        flex-wrap: wrap;
        width:70%;
        overflow: hidden;
        border: 1px solid gray;
    }
    .newstorage .card {
        padding: 0;
        position: relative;
        height: 50vh;
        width: 1200px;
        left: 0px;
        transition: transform 0.3s ease-in-out;
    }
    .newstorage .card a {
        padding: 0;
        margin: 0;
        display: flex;
        position: relative;
        text-decoration: none;
        width: 300px;
        height: 100%;
        font-size: 3rem;
    }
    .newstorage .card a .pict{
        flex-wrap: wrap;
        width:100%;
    }
    .newstorage .card a .pict img{
        width: 100%;
    }
    .newstorage .card a .pict div{
        line-height: 2;
        font-weight: bold;
        justify-content: center;
        text-align: center;
        color:black;
    }
    button{
        display: block;
        position: absolute;
        transform: translateY(-50%,-50%);
        font-size: 2rem;
        color: white;
        background-color:black;
        cursor: pointer;
        z-index: 3;
    }
    .ributton{ 
        left: 360px;
        bottom: 5vh;
    }
    .lebutton{ 
        left:20px;
        bottom: 5vh;
    }
    article .storagebtn{
        display: flex;
        margin: auto;
        width:70%;
    }
    article .storagebtn a{
        width: 100%;
        height: 80%;
    }
    article .storagebtn input{
        background-color:gray;
        width:100%;
        border:0;
        height: 100%;
        color:white;
        font-size: 3rem;
        font-weight: bold;
        border-radius:40px;
        cursor:pointer;}
      
    article .storagebtn input:hover{
        color:white;
        border:2px gray solid;
      }
    .topsale{
        height: 50vh;
        padding: 0;
        width: 100%;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        position: relative;
    }
    .topsale .text{
        padding: 0;
        writing-mode:horizontal-tb;
        font-size: 3rem;
        color: red;
        font-weight: bolder;    
        opacity: 0.6;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topsale .text:after {
        position:absolute;
        content:"";
        background-color: red;
        width: 300px;
        height:10%;
        opacity: 0.2;}
    
    .topsale  .card{
        width:100% ;
        display: flex;
    }
    .topsale .card a{
        width: 33%;
        position: relative;
    }
    .topsale .card a:hover{
        box-shadow:0px 0px 20px 0px rgba(0,0,0,0.5);
        transition: 0.5s;
        background-image: linear-gradient(to top, #050505,#e0e0db,#e0e0db,#ffffff, #ffffff);
    }
    .topsale .card a div{
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .topsale .card a div  img{
        width: 100%;
    }
    .topsale .card a div  .llogo{
        width: 50%;
        margin: auto;
    }
    .topsale .card a div:after {
        position:absolute;
        content:"";
        background-image: linear-gradient(to top,black,white);
        width: 20px;
        margin-left: 95%;
        height:100%;
        opacity: 0.5;}
    .topsale .block{
        content: "";
        width: 20%;
    }
    .event .h3{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: bold;
        width: 100%;
        padding-top: 10%;
    }
    .event .h3::after{
        margin-top:-5%;
        color: RED;
        font-size: 5REM;
        content: "EVENT";
        position:absolute;
        opacity: 0.1;}
    .event .card{
        width: 100%;
        padding-top:20px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .event .card a{
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly ;
        position: relative;
        width: 100%;
        margin: 10px 0;
    }
    .hover {
        width: 100%;
        position:relative
    }
    .hover1 div {
        background-image:url(../img/折價圖.jpg);
    }
    .hover2 div {
        background-image:url(../img/競賽小圖.svg);
    }
    .hover3 div {
        background-image:url(../img/越野圖.png);
    }
    .hover4 div {
        background-image:url(../img/首頁安駕.png);
    }
    .hover div {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 70px 0;
        text-align: center;
        font-size: 5rem;
        font-weight:bolder;
        overflow: hidden;
        width: 100%;
        position: relative;
        color:white;
    }
    .hover div::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        transform: skewX(-25deg);
    }
    .hover div:hover::before {
        animation: shine .75s;
    }
    .hover div:hover {
        color:red;
    }
    @keyframes shine {
        100% {
            left: 125%;
        }
    }

}