header {
    position: fixed;
    padding: 0px 5px;
    width: 100%;
    display: flex;
    opacity: 0.8;
    background-color: gray; 
    z-index: 1;   
}
header .logo{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    position: relative;
}

header .headlinkl{
    font-size: 0;
    font-weight: bold;
    width: 40%;
    align-items: center;
    justify-content:end;
    display: flex;
}
header .headlinkr{
    font-size: 0;
    font-weight: bold;
    width: 40%;
    align-items: center;
    justify-content: start;
    position: static;
    display: flex;    
}
header .headlinkl a{
    font-size: 16px;
    display: inline-block;
    line-height: 56px;
    color: black;
    text-decoration: none;
    width: auto;
    padding: 0 10px;
    /* margin: 0 1.2rem; */
    justify-content: space-around;
    position: relative;
}
header .headlinkl a:hover{
    color:white;
    background-color: black;
}
header .headlinkr a{
    font-size: 16px;
    display: inline-block;
    line-height: 56px;
    color: black;
    text-decoration: none;
    width: auto;
    padding: 0 10px;
    /* margin: 0 1.2rem; */
    justify-content: space-around;
    position: relative;
}
header .headlinkr a:hover{
    color:white;
    background-color: black;
}


.banner{
    display: flex;
    width: 100%;
    position: relative;
}
.banner img{
    opacity: 0.6;
    width: 100%;
}
.banner div{
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    top: 45%;
    left:40%;
}
.main-box{
    margin: auto;
    background-color: aqua;
    width:960px;
}
.main-box .tab_css{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.main-box .tab_css input{
    display:none
}
.main-box .tab_css label{
    margin: 0 5px 5px 0; 
    padding: 10px 16px;
    cursor: pointer; 
    border-radius: 5px;
    background: #999; 
    color: #fff; 
    opacity: 0.5;
}
.main-box .tab_content{
    order:1;
    display: none;
     width:100%;
    border-bottom: 3px solid #ddd;
    line-height: 1.6;
    font-size: .9em;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
        }
.main-box .tab_css input:checked + label, .tab_css label:hover{
    opacity: 1;
     font-weight:bold;
    }
.main-box .tab_css input:checked + label + .tab_content{
    display: initial;
}














.footer{
    position: relative;
    background-color: gray; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer .logobox{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.footer .logobox a{
    color: black;
    text-decoration: none;
}
.footer .messagebox{
    display: flex;
    width: 80%;
}
.footer .messagebox .message{
    width: 60%;
}
.footer .messagebox .message p{
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
    margin: 1rem 0;
}

.footer .messagebox .icon{
    margin: 0.3rem 0 ;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
.footer .messagebox .icon div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem 0 ;
}.footer .messagebox .icon div a img{
    width: 100%;
}